<form action="/addCliente" method="POST">
    <input type="text" name="nameCliente" placeholder="name">
    <input type="text" name="cpfCliente"placeholder="CPF">
    <input type="text" name="rgCliente" placeholder="RG">

    <button type="submit">Salvar</button>
</form>